.cp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background-color: black;
}
.text{
    color: white;
}
.text :hover{
 
  background-color:#111 !important;

}
.codechef{
    border-radius: 30px;
  background-color:#111 !important;

}
.codechef :hover{
  background-color:#111 !important;
}
.btn22 :hover{
    
    cursor: pointer;
    background-color: whitesmoke;
}
.btn22{
    position: relative;
    top:2vh;
}



.button {
    overflow: hidden;
  width: 200px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
}

.button-1 {
    
    
  background-color: transparent;
  border: 3px solid #00d7c3;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
}
.button-1:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}
.btn22 p{
    position: relative;
    bottom: 1vh;
}
@media screen and (max-width: 1400px) {
    .row2{
      display: fles;
      flex-direction: column;
      gap:5vh;
      height: auto;
    }
}

.achiv{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 0;
    padding: 0;
   
    max-width: 50vw;
    color: white;
    align-items: flex-start;
}
.achiv h1{
    position: relative;
    bottom: 3vh;
}